<div class="container about">

	<div class="col-12 bg-about text-center">
		<!-- <div class='about-1'>
			<h2 class='about-title'>
				Relive your favorite memories
			</h2>
		</div> -->
		<div class="test">
			<div class="about-2">
				<div class="col-12 text-center">
					<h2 class='about-title'>
						No more sorting through photos
					</h2>
					<p class='col-6 text-center about-text'>
						Stories automatically finds your best photos and creates a new travelogue.
					</p>
					<p class='col-6 text-center about-text'>
						This way you can captureand share your special moments in fresh ways.
					</p>
					<%= link_to "Learn More", 'signups/new', :class => "btn" %>
				</div>
			</div>
		</div>
	</div>
</div>
