<div class="container home">
	<div class="bg1-home">
		<!-- <a href="" id="menu"><img src="/assets/open.svg"></a> -->

		<div class="col-12 home-1 text-center">
			<h2 class='home-title'>
				Create and share stories
			</h2>
			<%= link_to "Learn More", "about", :class => "btn" %>
		</div>
	</div>

	<div class="col-12 home-2 text-center">
		<h2 class='home-title'>
			Relive and share your adventures
		</h2>
		<p class='home-text'>
			Stories automatically creates a digital journal filled with only your best photos.
		</p>
	</div>

	<div class="bg2-home text-center">
	</div>

	<div class="col-12 home-3 text-center">
		<div class="bg2-home-text">
			<h2 class='col-12 home-title'>
				Discover Stories
			</h2>
			<%= link_to "Learn More", 'about', :class => "btn" %>
		</div>
	</div>
</div>
