/*
Global formatting
 */

html, body {
	font-family: 'Alata', serif;
  background-color: pink;
}

.container {
	font-family: 'Alata', serif;
	width: 100%;
	height: 100%;
	padding: 0;
	// margin-bottom: 100px;
	top: 0%;
}

.header {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.header-links {
	color: white;
	padding: 15px 0px 15px 0px;
	a {
		color: white;
		padding: 5px;
	}
}
.footer {
	background-color: #1F2333;
	margin: 0px;
	padding: 50px;
}
.footer-text {
	margin: 100 0px;
	padding: 0px;
	color: white;
}

.home-1 {
	  background-image: asset_url("bg1.jpg");
		background-size: cover;
		padding: 0 200px;
		height: 600px;
		width: auto;
		margin: -50px 0px;
}

.home-title {
	color: white;
	font-size: 40px;
	padding-top: 240px;
	margin: 0px;
}

.home-text {
	color: #f4f4f4;
}

.home-2 {
	  background-image: asset_url("bg2.jpg");
		background-size: cover;
		padding: 0 200px;
		height: 600px;
		width: auto;
}

.home-3 {
	  background-image: asset_url("bg3.jpg");
		background-size: cover;
		// padding: 0 200 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		padding: 0 200px;
		height: 600px;
		width: auto;
}

.btn {
	background-color: #C72F3B;
	color: white;
	margin-top: 20px;
	&:hover {
		color: white;
	}
}

.about {
	background-image: asset_url("bg3.jpg");
	background-size: cover;
	margin-bottom: 0px;
	margin-top: -50px;
	padding: 0 200px;
	height: 600px;
	width: auto;
}

// .bg-about {
// 	color: white;
// 	padding: 200 0px;
// 	margin-top: 200px;
// }

.about-title {
	padding: 1000 0px;
}
.about-1, .about-2 {
	color: white;
	padding: 80px 0px;
	margin: 200px 0px;

}

.signup {
	background-image: asset_url("bg1.jpg");
	background-size: cover;
	padding: 0 200px;
	height: 600px;
	width: auto;
	margin: -50px 0px;
}

.signup-text {
		color: white;
		font-size: 40px;
		padding-top: 150px;
		margin: 0px
}
.signups {
	padding-top: 50px;

	input {
		height: 30px;
		width: 300px;
		background-color: pink;
		border: solid 1px pink;
	}
	label {
		color: white;
	}
	.submit {
		background-color: #C72F3B;
		border: solid 1px #C72F3B;
		color: white;
		margin-top: 10px;
	}
}

.thanks {
	background-image: asset_url("bg2.jpg");
	background-size: cover;
	height: 600px;
	width: auto;
	padding-top: 300px;
	padding-bottom: 300px;
	color: white;
	margin-top: -120px;
}
